.card {
  position: absolute;
  resize: both;
  width: 200px;
  height: 200px;
  border: 2px solid cyan;
  background-color: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  overflow: auto;
  /*&:hover {
      cursor: move;
    }*/

  &.tag-factory {
    border: 2px dashed cyan;
  }

  .tag-legend {
    position: absolute;
    left: -2px;
    bottom: 0px;
    width: 102.5%;

    &:focus-within .input-group-prepend .input-group-text svg {
      fill: black;
    }
  }

  .remove-tag {
    position: absolute;
    right: -1px;
    top: 0;
    /*visibility: hidden;*/
  }
  &:hover .remove-tag {
    visibility: visible;
  }
}
